
.custom-subreddit
  input
    height 1.6em
    border 2px !important
    padding 1px .3em

.home-subreddits
  column-count 3
  line-height 1.6em
  li
    list-style-type none
  button
    height 1.6em
    border 2px !important
    padding 1px .3em
    line-height normal
  input, button
    margin-bottom .6em
