
.custom-subreddit
  input
    width 135px
    height 1.6em
    border 2px !important
    padding 1px .3em

.home-subreddits
  column-width 160px
  column-count 4
  line-height 1.6em
  padding-left 0

  li
    list-style-type none
  button
    height 1.6em
    border 2px !important
    padding 1px .3em
    line-height normal
  input, button
    margin-bottom .6em
  &.error
    column-count 1
    color red

