
.reddit
  padding 0 1em

.reddit-body
  margin-bottom 3em

.reddit-comments
  padding 0 1em
  > .comment:first-of-type
    border-top solid 1px #aaa
  .comment
    .body
      border-bottom solid 1px #aaa
    .details
      padding-top 1em
  .replies
    margin-left 2em

