
.reader-nav
  padding 1em
  font-size: 14px
  h2
    font-size: 16px
    margin-top 0
  h3
    text-align right
    font-weight normal
    margin 0 0 0.6em
    font-size 13px
    font-style italic
    color #888
    i
      margin-right 0.3em
      font-size 14px
  a
    margin-bottom 0.3em
  .truncate
    margin-right 1em
    span
      overflow hidden
      white-space nowrap
      text-overflow ellipsis

  .bottom-content
    position absolute
    bottom 1em
  .bugs
    clear left
    i
      margin-right 0.3em

  .legend
    color #666
    font-style italic
    font-size 0.8em
    margin-bottom 1em
    overflow auto
    h3, h4, h5
      margin 0 0 0.6em 0
    ul
      list-style-type none
      margin 0 2em 0 0
      padding 0
      float left
      li
        margin-bottom 0.3em
    .key
      background-color #fff
      display inline-block
      border solid 1px #999
      border-radius 0.3em
      padding 0 0.3em
    .title
      display inline-block
      margin-left 0.3em

