
.reader-nav
  padding 1em
  font-size: 14px
  h2
    font-size: 16px
    margin-top 0
  a
    margin-bottom 0.3em
  .truncate
    margin-right 1em
    span
      overflow hidden
      white-space nowrap
      text-overflow ellipsis

