
.reader
  display flex
  align-content stretch

.reader-content
  order 1
  flex auto
  background-color #dfdfdf
  overflow auto
  position relative
  width 0

.reader-preloader
  display none

.reader-nav
  min-height 100vh
  width 25vw
  order 2

.query-failed
  padding-left 1em
