
.fsIframe .loader
  height 100vh

.fsIframe
  background-color #fff
  .help
    padding-left 1em
    overflow auto
    position absolute
    top 0
    z-index 1
  iframe
    position relative
    z-index 2
    height 1000vh
    width 75vw
    border none

.fsIframeFailed > p
  padding 0 1em
