
.fsIframe .loader
  height 100vh

.fsIframe
  .help
    padding-left 1em
  iframe
    position absolute
    top 0
    height 1000vh
    width 75vw
    border none

.fsIframeFailed > p
  padding 0 1em
