
.streamable-aligner
  text-align center
  display flex
  align-items center
  justify-content center
  height 100vh

.streamable
  -webkit-backface-visibility hidden
  -webkit-transform scale(1)
  width 100%
  max-height 100%

