// Remember to use rems and ems. http://css-tricks.com/rems-ems.

@import '../../../node_modules/normalize.css/normalize.css'
@import '../../../node_modules/font-awesome/css/font-awesome.css'

// http://phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html
*
  -webkit-tap-highlight-color rgba(0,0,0,0)

// Goodness.
*, ::after, ::before
  box-sizing border-box

a
  text-decoration none
  color #337ab7

a:visited
  color #337ab7

html,
body
  height 100%

html
  font-family Verdana, Helvetica, Arial, sans-serif

button
  background-color #bbb

body, html
  background-color #eee

.padded-content
  padding 1em
  padding-left 40px

.icon-title
  a
    display flex
    align-content flex
    text-decoration none
    > span
      flex auto
      overflow auto
      float left
      width 0
    > i
      position relative
      top 3px
      margin-right 5px
      width 20px
      text-align center
      height 100%
      display block
      float left

.error
  color red
